body {
    background-color: rgb(119, 136, 153);
    font-family: 'Roboto', sans-serif;
}
main {
    display: grid;
    place-items: center;
}
.text-container {
    display: grid;
    place-items: center;
    padding-top: 15vh;
}
#title {
    font-size: 100px;
    margin: 0 0 5% 0;
}
#count {
    font-size: 150px;
    margin: 0 0 2% 0;
}
